.globalAlert {
    position: absolute;
    margin: 10px;
    width: 40%;
    z-index: 1000;
    padding: 16px;
  }
  
  .success {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 3em;
    color: #d1e7dd;
    background-color: #0f5132;
    border: none;
  }
  
  .error {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #f8d7da;
    min-height: 3em;
    border: none;
    background-color: #721c24;
  }
  
  .globalAlert .ant-alert {
    border-radius: 0;
  }
  