.table-container {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table_component {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table_header_row {
    border: 1px solid #EBD3F8;
    background-color: #AD49E1;
  }
  
  .table_header_cell {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    color: #EBD3F8;
  }
  
  .input_line {
    border: 1px solid #EBD3F8;
    border-top: none;
    padding: 5px;
    border-bottom: none;
    background-color: #7A1CAC;
  }
  
  .input_text {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input_text:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .table_cell {
    padding: 12px;
    text-align: left;
    border-left: 1px solid #EBD3F8;
    border-right: 1px solid #EBD3F8;
    border-bottom: none;
  }
  
  .row_odd {
    background-color: #2E073F;
    color: #fff;
  }
  
  .row_even {
    background-color: #7A1CAC;
    color: #fff;
  }
  
  .action_button {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
  }
  