.container {
    width: 100%;
    min-height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calendar_container {
    width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10em;
}

.calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    height: 100%;
    margin-bottom: 5rem;
    overflow: hidden;
}

.calendar_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8rem;
    background-color: #7A1CAC !important;
    color: #EBD3F8;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.calendar_header_title {
    font-size: 30px;
    font-weight: bold;
}

.calendar_date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.date_cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 7.25rem;
    border: 1px solid #00000023;
    cursor: pointer;
}

.selected_date_cell {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000c5;
    justify-content: flex-start;
    height: 7.25rem;
    color: #2E073F;
    background-color: #d78bff;
}

.date_cell_text {
    margin-right: 1rem;
    width: 90%;
    height: 1.5rem;
}

.event_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.event_modal_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin-bottom: 0.5rem;
}

.event_modal_container p {
    margin: 0;
}

.button_save {
    height: 3em !important;
    max-height: 3em !important;
    border-radius: 30px;
    background-color: #bb86fc;
    box-shadow: 0;
    color: #7A1CAC;
    font-size: 15px;
    font-weight: 700;
}

.button_save:hover {
    transition: 1s;
    border: 2px solid #bb86fc;
    background-color: #bb86fc00 !important;
    color: #bb86fc !important;
}